
<br>
<br>
<br>
<div class="container-fluid  col-md-7">
  <p class="clr"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp; Choose number of people</p>
<div class=" card ">

<table class="table">
 
  <tbody>
    <tr>
    
      <td class="clr"><i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp; ROOMS</td>
      	<td colspan="1"></td>
      <td class="tble"><i  class="fa fa-minus-circle clr {{roommn}}"  aria-hidden="true" (click)="roomsminus()" ></i>&nbsp;&nbsp;
       {{rooms}} &nbsp;&nbsp;
      <i class="fa fa-plus-circle iconclr {{roomps}}" aria-hidden="true" (click)="roomsplus()"></i></td>
    </tr>
    <tr>
      <td class="clr"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; ADULTS</td>
      	<td colspan="1"></td>
     <td class="tble"><i class="fa fa-minus-circle clr {{adultsmn}}" aria-hidden="true" (click)="adultsminus()"></i>&nbsp;&nbsp;
     {{adults}} &nbsp;&nbsp;
      <i class="fa fa-plus-circle iconclr {{adultsps}}" aria-hidden="true" (click)="adultsplus()"></i></td>
    </tr>
    <tr >
       <td class="clr"><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; CHILDREN</td>
      	<td colspan="1"></td>
      <td class="tble"><i class="fa fa-minus-circle clr {{childrenmn}}" aria-hidden="true" (click)="childrenminus()"></i>&nbsp;&nbsp;
       {{children}} &nbsp;&nbsp;
      <i class="fa fa-plus-circle iconclr {{childrenps}}" aria-hidden="true" (click)="childrenplus()"></i></td>
    </tr>
  </tbody>
</table>
</div>
</div>